<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/ui/upload/upload.xhtml">
    <ui:define name="form">
        <div class="file">
            <div class="filetypes">
                <p>#{i18n['info.main']}</p>
                <p>
                    #{i18n['info.file']}
                    <ui:repeat value="#{textFormBean.fileTypes}"
                               var="fileType" varStatus="status">
                        <span class="filetype">#{fileType.extension}<h:outputText value="#{not status.last ? ',' : '.' }"/></span>
                    </ui:repeat>
                </p>
            </div>
            <p:fileUpload value="#{textFormBean.file}"
                          mode="simple"
                          styleClass="upload"/>
        </div>
    </ui:define>
</ui:composition>
