<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/equivalency/equivalency.xhtml">

    <ui:define name="head">
        <title>#{i18n['page.history.title']}</title>
    </ui:define>
    <ui:define name="content">
        <div class="history-page">
            <div class="history-info">
                <p class="details">
                    Ниже перечислены ваши загруженные тексты.
                    При клике на название текста вы перейдете на страницу со словами загруженного текста.
                </p>
            </div>
            <h:form id="vocabber" enctype="multipart/form-data" prependId="true">
                <p:dataTable id="texts" value="#{textHistoryBean.texts}" var="text"
                             styleClass="texts-table"
                             rowStyleClass="texts-row"
                             paginator="true" rows="10"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             paginatorAlwaysVisible="false"
                             rowsPerPageTemplate="10,30,50"
                             emptyMessage="#{i18n['history.empty']}"
                             rendered="#{not empty textHistoryBean.texts}">
                    <p:column headerText="#{i18n['history.text.date']}"
                              styleClass="date">
                        <h:outputText value="#{text.date}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="#{i18n['history.text.title']}"
                              styleClass="title">
                        <p:commandLink action="#{textHistoryBean.load(text)}"
                                styleClass="load"
                                immediate="true"
                                ajax="false">
                            #{text.title}
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
