<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/ui/upload/upload.xhtml">
    <ui:define name="form">
        <div class="link">
            <div class="info">#{i18n['info.link']}</div>
            <p:inputText value="#{textFormBean.link}"
                         styleClass="field"/>
            <div class="info detailed">
                <div>#{i18n['info.link.detailed.1']}</div>
                <ul>
                    <li class="example">http://en.wikipedia.org</li>
                    <li class="example">http://news.google.com</li>
                </ul>
                <div>#{i18n['info.link.detailed.2']}</div>
            </div>
        </div>
    </ui:define>
</ui:composition>
