<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/ui/upload/upload.xhtml">
    <ui:define name="form">
        <div class="text">
            <div>#{i18n['info.text']}</div>
            <p:inputTextarea value="#{textFormBean.text}" styleClass="field"
                             autoResize="false" />
        </div>
    </ui:define>
</ui:composition>
