<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/equivalency/equivalency.xhtml">

    <ui:define name="head">
        <title>#{i18n['page.main.title']}</title>
    </ui:define>
    <ui:define name="content">
        <div class="processor-page">
            <h:form id="vocabber" enctype="multipart/form-data" prependId="true">
                <div class="layout">
                    <div class="layout-left">
                        <div class="text-form">
                            <ui:insert name="form"/>
                        </div>
                    </div>

                    <div class="layout-right">
                        <ui:include src="/ui/common/filters.xhtml"/>
                    </div>
                </div>

                <div class="buttons">
                    <p:commandButton id="process" value="#{i18n['button.process']}"
                                     action="#{textUploadBean.upload}"
                                     ajax="false"/>
                    <p:commandButton id="reset" value="#{i18n['button.reset']}"
                                     action="#{textUploadBean.reset}"
                                     ajax="false"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
