<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
    <h:head>
        <ui:insert name="head"></ui:insert>
        <link rel="shortcut icon" href="#{request.contextPath}/css/templates/equivalency/images/stack_of_books.ico"/>
        <link href="#{request.contextPath}/css/templates/print/style.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/css/common.css" rel="stylesheet"/>
        <ui:include src="#{request.contextPath}/ui/common/ga.xhtml"/>
    </h:head>
    <h:body>
        <div class="header">
            <a href="http://vocabber.com">Vocabulary Grabber (http://vocabber.com)</a>
        </div>
        <ui:insert name="content"></ui:insert>
        <div class="footer">
            <a href="http://vocabber.com">Vocabulary Grabber (http://vocabber.com)</a>
        </div>
    </h:body>
</f:view>
</html>