body {
	padding: 5px 10px;;
    font-family: Arial, sans-serif;
	font-size: 1em;
	color: #4F4F4F;
}

a, a:link, a:visited, a:active, a:hover {
    font-style: italic;
    font-size: 1.1em;
    text-decoration: none;
    color: #4F4F4F;
}
.header {
    margin: 10px 0px 20px;
}
.footer {
    margin: 20px 0px 10px;
}
