<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="feedbackLinkForm">
        <p:commandLink action="#{feedbackBean.reset}"
                       oncomplete="javascript:feedbackDialog.show();"
                       update=":feedbackForm"
                       style="display:scroll;position:fixed;top:40%;left:-5px;"
                       title="#{i18n['feedback.open']}">
            <img src="#{request.contextPath}/css/templates/equivalency/images/feedback.png" alt=""/>
        </p:commandLink>
    </h:form>
       
    <p:dialog id="feedbackDialog" widgetVar="feedbackDialog"
              styleClass="feedback"
            modal="true" header="#{i18n['feedback.header']}"
            draggable="false"
            resizable="false"
            minWidth="600"
            minHeight="300">

        <div class="description">
            #{i18n['feedback.info']}
        </div>
        <h:form id="feedbackForm">
            <p:outputPanel layout="block"
                           styleClass="email"
                           rendered="#{feedbackBean.emailRendered}">
                <p:inputText id="email" styleClass="field"
                             value="#{feedbackBean.feedback.email}"
                             validatorMessage="#{i18n['feedback.error.email.incorrect']}">
                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                </p:inputText>
                <label>#{i18n['feedback.email']}</label>
                <span class="info">#{i18n['feedback.email.info']}</span>
            </p:outputPanel>
            <div class="content">
                <p:inputTextarea id="content" styleClass="field"
                                 value="#{feedbackBean.feedback.content}"
                                 required="true"
                                 requiredMessage="#{i18n['feedback.error.content.absent']}"/>
            </div>

            <p:outputPanel id="errors" styleClass="errors">
                <p:message for="email" display="text" styleClass="error"/>
                <p:message for="content" display="text" styleClass="error"/>
            </p:outputPanel>

            <div class="buttons">
                <p:commandButton value="#{i18n['feedback.button.send']}"
                                 action="#{feedbackBean.send}"
                                 oncomplete="handleFeedbackRequest(xhr,status,args);"
                                 update=":messages:growl :feedbackForm"/>
                <p:commandButton value="#{i18n['feedback.button.cancel']}"
                                 action="#{feedbackBean.cancel}"
                                 immediate="true"
                                 onclick="feedbackDialog.hide();"
                                 update=":feedbackForm"/>
            </div>
        </h:form>
    </p:dialog>
    <script type="text/javascript">
        function handleFeedbackRequest(xhr, status, args) {
            if(!args.validationFailed) {
                feedbackDialog.hide();
            }
        }
    </script>
</ui:composition>
