<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

<div class="filters-form">
    <div class="title">#{i18n['word.filter.title']}</div>

    <ul class="list">
    <ui:repeat value="#{filterFormBean.filters}" var="item">
        <li class="item">
            <p:selectBooleanCheckbox value="#{item.selected}"
                    widgetVar="filterSelector_#{item.filter.value}"/>
            <h:outputText styleClass="label"
                          value="#{i18n[item.filter.code]}"/>
            <a href="filter.jsf?id=#{item.filter.value}"
                title="#{i18n['word.filter.view']}">
                <img src="#{request.contextPath}/css/templates/equivalency/images/onebit_39.png"
                     class="icon" alt="#{i18n['word.filter.view']}"/>
            </a>
        </li>
    </ui:repeat>
    </ul>

    <div class="selectors">
        <script type="text/javascript">
            function filterSelectAll() {
            <ui:repeat value="#{filterFormBean.filters}" var="item">
                filterSelector_#{item.filter.value}.check();
            </ui:repeat>
            };

            function filterSelectNone() {
            <ui:repeat value="#{filterFormBean.filters}" var="item">
                filterSelector_#{item.filter.value}.uncheck();
            </ui:repeat>
            };
        </script>
        <a href="#" onclick="filterSelectAll(); return false;">#{i18n['word.filter.select.all']}</a>
        <a href="#" onclick="filterSelectNone(); return false;">#{i18n['word.filter.select.none']}</a>
    </div>
</div>


</ui:composition>
