<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:repeat var="transcription" value="#{word.transcriptions}" varStatus="status">
        <div class="transcription">
            #{transcription}
        </div>
    </ui:repeat>

</ui:composition>
