<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <span class="translations">
    <ui:repeat var="translation" value="#{word.translations}" varStatus="status">
        #{translation}#{not status.last ? '; ' : ''}
    </ui:repeat>
    </span>
</ui:composition>
