<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <p:outputPanel id="wordsPanel" styleClass="words-panel" layout="block">
        <p:outputPanel id="lettersPanel" styleClass="letters" layout="block"
                rendered="#{table.renderAlphabet()}">
            <ui:repeat value="#{table.letters}" var="letter">
                <p:commandLink action="#{table.changeLetter(letter)}"
                               value="#{letter}"
                               rendered="#{table.hasLetter(letter)}"
                               styleClass="letter #{letter eq table.letter ? 'current' : ''}"
                               update=":vocabber:wordsPanel">
                </p:commandLink>
                <h:outputText value="#{letter}"
                              rendered="#{not table.hasLetter(letter)}"
                              styleClass="letter"/>
            </ui:repeat>
        </p:outputPanel>
        <div style="display:none">
            <!-- TODO: refactor -->
            <p:commandLink action="#{markerBean.rememberPage(table.page)}"
                           id="rememberPageActionBottom"
                           value="#{i18n['button.remember.page']}"
                           title="#{i18n['button.remember.page.tooltip']}"
                           rendered="#{markerBean.canMark()}"
                           styleClass="rememberPageAction"
                           update=":messages:growl :vocabber:wordsPanel">
                <f:setPropertyActionListener target="#{table.caching}" value="#{true}"/>
            </p:commandLink>
            <p:commandLink action="#{markerBean.rememberPage(table.page)}"
                           id="rememberPageActionTop"
                           value="#{i18n['button.remember.page']}"
                           title="#{i18n['button.remember.page.tooltip']}"
                           rendered="#{markerBean.canMark()}"
                           styleClass="rememberPageAction"
                           update=":messages:growl :vocabber:wordsPanel">
                <f:setPropertyActionListener target="#{table.caching}" value="#{true}"/>
            </p:commandLink>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery(PrimeFaces.escapeClientId('vocabber:rememberPageActionTop')).insertBefore(
                    jQuery(PrimeFaces.escapeClientId('vocabber:words_paginator_top') + ' .ui-paginator-current'));
                jQuery(PrimeFaces.escapeClientId('vocabber:rememberPageActionBottom')).insertBefore(
                    jQuery(PrimeFaces.escapeClientId('vocabber:words_paginator_bottom') + ' .ui-paginator-current'));
            });
        </script>
        <p:dataTable id="words" widgetVar="words" var="fword" value="#{table}"
                     paginator="true" rows="10"
                     styleClass="words-table #{table.renderStatistics() ? '' : 'no-statistics'}"
                     rowStyleClass="#{fword.status}"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     paginatorAlwaysVisible="false"
                     rowsPerPageTemplate="10,30,50"
                     emptyMessage="#{i18n['word.list.empty']}"
                     rendered="#{table != null}"
                     sortBy="#{fword.frequency}"
                     sortOrder="#{sortOrder}">
            <f:facet name="header">
                <span class="statistics">
                    <span class="total">#{i18n['word.list.size']} #{table.wordsProcessed}</span>
                    <span class="filtered">#{i18n['word.list.filtered.size']} #{table.wordsFound - table.wordsProcessed}</span>
                </span>
            </f:facet>

            <p:column headerText="#{i18n['word.text']}"
                      styleClass="word"
                      sortBy="#{fword.word}">
                #{fword.word}
                <span class="actions">
                    <!-- TODO: optimize -->
                    <p:commandLink action="#{markerBean.remember(fword)}"
                                   value="&#160;"
                                   title="#{i18n['button.remember']}"
                                   rendered="#{markerBean.canRemember(fword.status)}"
                                   styleClass="action remember"
                                   update=":messages:growl :vocabber:wordsPanel">
                        <f:setPropertyActionListener target="#{table.caching}" value="#{true}"/>
                    </p:commandLink>
                    <p:commandLink action="#{markerBean.forget(fword)}"
                                   value="&#160;"
                                   title="#{i18n['button.forget']}"
                                   rendered="#{markerBean.canForget(fword.status)}"
                                   styleClass="action forget"
                                   update=":messages:growl :vocabber:wordsPanel">
                        <f:setPropertyActionListener target="#{table.caching}" value="#{true}"/>
                    </p:commandLink>
                </span>
            </p:column>

            <p:column headerText="#{i18n['word.frequency']}"
                      styleClass="frequency"
                      sortBy="#{fword.frequency}"
                      rendered="#{renderFrequency}">
                #{fword.frequency}
            </p:column>

            <p:column headerText="#{i18n['word.transcription']}"
                      styleClass="transcription">
                <ui:include src="/ui/common/transcriptions.xhtml">
                    <ui:param name="word" value="#{fword}"/>
                </ui:include>
            </p:column>

            <p:column headerText="#{i18n['word.translation']}"
                      styleClass="translation">
                <ui:include src="/ui/common/translations.xhtml">
                    <ui:param name="word" value="#{fword}"/>
                </ui:include>
            </p:column>
        </p:dataTable>
    </p:outputPanel>
</ui:composition>
