<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/equivalency/equivalency.xhtml">

    <ui:define name="head">
        <title>#{i18n['page.about.title']}</title>
    </ui:define>
    <ui:define name="content">
        <div class="about">
            <p class="intro">
                <img src="#{request.contextPath}/css/templates/equivalency/images/about_intro.png"
                     alt="" class="icon"/>
                С помощью нашего сервиса вы можете эффективно находить незнакомые английские слова в документах,
                фильмах, на веб страницах. Выявленные слова автоматически переводятся и по каждому слову отображается
                количество его повторений в тексте. Это делается для определения наиболее используемых слов в тексте,
                чтобы вы могли изучать их в первую очередь
                <span class="clear"/>
            </p>
            <p class="texts">
                <img src="#{request.contextPath}/css/templates/equivalency/images/about_texts.png"
                     alt="" class="icon"/>
                В качестве текста вы можете загрузить файлы (txt, srt, html, pdf, doc, docx), просто скопировать текст
                или ссылку на страницу нужного вам сайта. На данный момент мы ограничиваем размер загружаемого файла
                5 мегабайтами.
            </p>
            <p class="filters">
                <img src="#{request.contextPath}/css/templates/equivalency/images/about_filter.png"
                     alt="" class="icon"/>
                Чтобы при загрузке текста не отображались распространенные и простые слова, вы можете воспользоваться
                фильтрам. Фильтр состоит из слов, которые будут исключены из реузультата обработки текста,
                если Вы его выбрали. Также вы можете просмотреть содержимое любого фильтра.
            </p>
            <p class="user">
                <img src="#{request.contextPath}/css/templates/equivalency/images/about_user.png"
                     alt="" class="icon"/>
                Вы можете войти в сервис с помощью учетных записей наиболее распространенных онлайн сервисов:
                Vkontakte, Facebook, Google, Yandex, Mail.ru, Twitter. Тогда вам будет доступна функциональность
                помечать слова как знакомые на основе которых будет создан ваш персональный фильтр
                и который вы сможете использовать наряду с остальными фильтрами.
            </p>
        </div>
    </ui:define>
</ui:composition>
