<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/equivalency/equivalency.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{filterBean.type}">
            <f:converter binding="#{wordFilterTypeConverter}"/>
        </f:viewParam>
    </f:metadata>
    <ui:define name="head">
        <title>#{i18n['page.main.title']}</title>
    </ui:define>
    <ui:define name="content">
        <div class="filter-page">
            <h:form id="vocabber">
                <div class="header">
                    <h1 class="title">#{i18n[filterBean.type.code]}</h1>
                    <div class="details">
                        <h:outputFormat value="#{i18n['filter.details']}">
                            <f:param value="#{filterBean.words.wordsFound}"/>
                        </h:outputFormat>
                    </div>
                </div>
                <ui:include src="/ui/common/wordsTable.xhtml">
                    <ui:param name="table" value="#{filterBean.words}"/>
                    <ui:param name="sortOrder" value="ascending"/>
                </ui:include>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
