<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/print/print.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{wordsPrintBean.hashId}">
            <f:converter binding="#{textHashIdConverter}"/>
        </f:viewParam>
        <f:viewParam name="filters" value="#{wordsPrintBean.filters}">
            <f:converter binding="#{wordFilterTypeListConverter}"/>
        </f:viewParam>
    </f:metadata>
    <ui:define name="head">
        <title>
            <h:outputText value="#{i18n['page.print.title']}">
                <f:param value="#{wordsPrintBean.text.title}"/>
            </h:outputText>
        </title>
    </ui:define>
    <ui:define name="content">
        <div class="print">
        <table class="words">
        <ui:repeat value="#{wordsPrintBean.words}" var="fword" varStatus="status">
            <tr class="#{(status.index + 1) % 2 == 0 ? 'even' : 'odd'}">
                <td class="word">#{fword.word}</td>
                <td class="frequency">#{fword.frequency}</td>
                <td class="transcription">
                    <ui:include src="common/transcriptions.xhtml">
                        <ui:param name="word" value="#{fword}"/>
                    </ui:include>
                </td>
                <td class="translation">
                    <ui:include src="common/translations.xhtml">
                        <ui:param name="word" value="#{fword}"/>
                    </ui:include>
                </td>
            </tr>
        </ui:repeat>
        </table>
        </div>
    </ui:define>
</ui:composition>
