<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/css/templates/equivalency/equivalency.xhtml">

    <f:metadata>
        <f:viewParam name="id" value="#{wordsBean.hashId}">
            <f:converter binding="#{textHashIdConverter}"/>
        </f:viewParam>
    </f:metadata>
    <ui:define name="head">
        <title>
            <h:outputText value="#{i18n['page.words.title']}">
                <f:param value="#{wordsBean.words.text.title}"/>
            </h:outputText>
        </title>
    </ui:define>
    <ui:define name="content">
        <div class="words-page">
            <h:form id="vocabber" prependId="true">
                <div class="layout">
                    <div class="layout-left">
                        <div class="words-info">
                            <p>
                                На этой странице находятся слова из загруженного текста:
                                <span class="text-info">
                                    <span class="title">
                                        #{wordsBean.words.text.title}
                                    </span>
                                    <span class="date">
                                        (<h:outputText value="#{wordsBean.words.text.date}">
                                            <f:convertDateTime pattern="dd.MM.yyyy"/>
                                        </h:outputText>)
                                    </span>
                                </span>.
                                Рядом с каждым словом указано количество его вхождений в текст.
                                Это позволит вам увидеть какие слова наиболее часто встречаются в тексте
                                и которые стоит учить в первую очередь.
                            </p>
                            <p>
                                Также вы можете с помощью фильтров справа исключать распространенные слова.
                                Содержимое фильтра можно посмотреть кликнув на иконку
                                <img src="#{request.contextPath}/css/templates/equivalency/images/onebit_39.png"
                                       class="icon" alt=""/>, расположенную справа от названия фильтра.
                            </p>
                        </div>
                    </div>
                    <div class="layout-right">
                        <ui:include src="/ui/common/filters.xhtml"/>
                    </div>
                </div>

                <div class="buttons">
                    <p:commandButton id="process" value="#{i18n['button.update']}"
                                     action="#{wordsBean.filter}"
                                     update=":vocabber:wordsPanel"/>

                    <p:outputPanel id="export" layout="block"
                                   styleClass="export"
                                   rendered="#{false}">
                        <!-- TODO: fix-->
                        <h:commandLink action="#{wordsBean.print()}"
                                target="_blank"
                                title="#{i18n['button.print']}">
                            <img src="#{request.contextPath}/css/templates/equivalency/images/printer.png"
                                 alt="#{i18n['button.print']}"/>
                        </h:commandLink>
                    </p:outputPanel>
                </div>

                <ui:include src="/ui/common/wordsTable.xhtml">
                    <ui:param name="table" value="#{wordsBean.words}"/>
                    <ui:param name="renderFrequency" value="#{true}"/>
                    <ui:param name="sortOrder" value="descending"/>
                </ui:include>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
