@charset "UTF-8";

/**
 *  theme
 */
.ui-widget {
    font-size:0.95em;
}

img {
    border: none;
}
.clear {
    clear: both;
}

/* layout */
.layout {
    height:260px;
    clear:both;
}
.layout .layout-left {
    width:680px;
    float: left;
}
.layout .layout-right {
    width:180px;
    float: right;
}

/* buttons */
.buttons {
    text-align:center;
    margin: 10px 0px;
}
.buttons button {
    margin: 0 5px;
}
.buttons .export {
    float:right;
}
.buttons .export img {
    width: 32px;
    height: 32px;
}
.buttons .info {
    float: left;
    color: #4F4F4F;
    text-align: left;
}

/*
 *  processor page
 */
.processor-page .text-form {
}
.processor-page .text-form .file .filetypes {
    margin: 7px 0px;
    text-align:justify;
}
.processor-page .text-form .file .filetypes .filetype {
    font-weight: bold;
}
.processor-page .text-form .file .upload {
    width:80%;
    color:#4F4F4F;
}

.processor-page .text-form .text .field {
    width:680px;
    height:200px;
    margin: 10px 0px;
    color:#4F4F4F !important;
    font-size: 1em !important;
    font-weight: normal !important;
}
.processor-page .text-form .link .field {
    margin: 10px 0px;
    width: 680px;
    color:#4F4F4F !important;
    font-size: 1em !important;
    font-weight: normal !important;
}

/* words-page */
.words-page .layout {
    height: 180px;
}
.words-page .words-info {
    text-align: justify;
}
.words-page .words-info .text-info {
    font-style:italic;
    color: #303030;
}
.words-page .words-info .icon {
    width: 18px;
    height: 18px;
}


/* filters */
.filters-form .title {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}
.filters-form .list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.filters-form ul.list > li.item {
    margin: 3px 0px;
    line-height: 18px;
    width: 180px;
}
.filters-form ul.list > li.item .label {
    vertical-align: top;
}
.filters-form ul.list > li.item .icon {
    float: right;
    vertical-align: top;
    width: 18px;
    height: 18px;
}

.filters-form .selectors {
    text-align: center;
}
.filters-form .selectors a {
    margin: 5px;
    color: #FF9A32;
}

/* filter */
.filter-page {
}
.filter-page .header {
    margin: 10px 0px;
    height: 64px;
    padding-left: 64px;
    background: url('templates/equivalency/images/about_filter.png') no-repeat left;
}
.filter-page .header .title {
}
.filter-page .header .details {
   color: #808080;
}

/* words-panel */
/* letters */
.words-panel .letters {
    margin: 10px auto;
    text-align:center;
}
.words-panel .letters .letter {
    margin: 0 5px;
    text-transform: uppercase;
}
.words-panel .letters a.letter {
    text-decoration:underline;
    color: #FF9A32;
}
.words-panel .letters a.current {
    text-decoration:none;
    font-weight:bold;
}
.words-panel .letters span.letter {
    color: #808080;
}

/* words-table */
.words-panel .words-table {
    width:900px;
}
.words-panel .no-statistics .ui-datatable-header {
    display:none;
}
.words-panel .words-table .statistics {
    text-align: right;
    font-weight:normal;
}
.words-panel .words-table .statistics .total {
    margin-right: 20px;
}
.words-panel .words-table .statistics .number {
    font-weight: bold;
}

.words-panel .words-table .word {
    font-weight: bold;
    width:150px;
    vertical-align:top;
    text-transform: capitalize;
}
.words-panel .words-table .learnt > td {
    background-color: #8BF288;
}
.words-panel .words-table .forgot > td {
    background-color: #FAF87F;
}

.words-panel .rememberPageAction {
    float:left;
    font-weight: normal;
    vertical-align:middle;
    margin: 6px 0px 6px 10px;
    height: 16px;
    padding-left: 20px;
    background: url('templates/equivalency/images/tick.png') no-repeat;
}

.words-panel .words-table .word .actions {
    float: right;
}
.words-panel .words-table .word .actions .action {
    width: 16px;
    height: 16px;
    padding-left: 16px;
}
.words-panel .words-table .word .actions .remember {
    background: url('templates/equivalency/images/tick.png') no-repeat;
}
.words-panel .words-table .word .actions .forget {
    background: url('templates/equivalency/images/cross.png') no-repeat;
}

.words-table .frequency {
    vertical-align: top;
    width:50px;
}
.words-table .translation {
    max-height:150px;
    overflow-y:scroll !important;
}

.print .words,
.print .words td {
    padding: 2px;
    margin:0;
    border: solid 0px #4F4F4F;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
}
.print .words .even td {
    background-color: #FAFAFA;
}
.print .words .translation {
    max-height: none;
    overflow: visible !important;
}

.feedback .description {
    width: 520px;
    margin-bottom: 20px;
    padding-left: 50px;
    background: url('templates/equivalency/images/feedback_info_letter.png') no-repeat left;
}
.feedback .email {
    height: 30px;
    margin: 5px 0;
}
.feedback .email .field {
    width: 200px;
    margin-right: 10px;
    color:#4F4F4F !important;
    font-size: 1em !important;
    font-weight: normal !important;
}
.feedback .email .info {
    font-size: 0.9em;
    color: gray;
}
.feedback .content {
    height: 200px;
    margin: 10px 0;
}
.feedback .content .field {
    height: 180px;
    width: 560px;
    color:#4F4F4F !important;
    font-size: 1em !important;
    font-weight: normal !important;
}
.feedback .errors >div {
    margin: 5px 0;
}

.about p {
    margin-bottom: 30px;
    clear: both;
}
.about .icon {
    float: left;
    padding: 0px 10px;
    width:64px;
    height:65px;
}

.history-page {
}
.history-page .history-info .details {
    text-align:justify;
    padding-left: 80px;
    min-height: 70px;
    background: url('templates/equivalency/images/about_texts.png') no-repeat top left;
}
.history-page .texts-table .texts-row .date {
    width: 120px;
}
.history-page .texts-table .texts-row .title .load {
    color: #FF9A32;
}